---
title: Blog - Page 3
pageClass: page-blog
---

{{#extend "layout-page"}}

{{#content "page-header"}}

{{>banner-blog}}

{{/content}}

{{#content "page-content"}}

<ul class="articles-list">
  {{#each posts.page3}}
  <li class="articles-list__item">
    <h1>
      <a href="/blog/{{{slug}}}" class="articles-list__link" {{#if external}}rel="external"{{/if}}>{{{title}}}</a>
    </h1>
    <p>{{{summary}}}</p>
    <time datetime="{{{pubDate}}}" pubdate="{{{pubDate}}}" class="updated published">{{{pubDate}}}</time>
  </li>
  {{/each}}
</ul>

<nav class="articles-pagination">
  <ul class="list-unstyled">
    <li class="prev"><a href="/blog/2">&larr; Prev</a></li>
  </ul>
</nav>

{{/content}}

{{/extend}}
