---
pageClass: page-post
title: Don’t be scared of open source
category: Speaking
bannerImage: talks/mcrtechnights9/banner.jpg
ogImage: talks/mcrtechnights9/banner.jpg
pubDate: 12th June, 2015
tags:
- speaking
- open-source
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
My slides from <a href="http://manchestertechnights.org/9" rel="external">Manchester Tech Nights #9</a>.
{{/content}}

{{#content "post-content"}}
<p>I was fortunate enough to be chosen to present my first lightening talk, at <a href="http://manchestertechnights.org/9" rel="external">Manchester Tech Nights</a>.</p>
<p>I spoke about overcoming the apprehension of getting started in open source, something I’ve been <a href="http://opensource.com/life/15/2/5-beginners-open-source-share-thoughts" rel="external">interviewed on</a> before and am passionate about.</p>

<h2>Slides</h2>
<p>Here are the slides from the night:</p>

<figure style="margin: 0; left: 0; width: 100%; height: 0; position: relative; padding-bottom: 83.5282%;">
  <iframe src="https://www.slideshare.net/slideshow/embed_code/key/EVbRCE8Qw9q5u2" frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="top: 0; left: 0; width: 100%; height: 100%; position: absolute;"></iframe>
</figure>

<h2>Transcript (ish):</h2>
<p>Hi, I’m Dan. I’m here to talk about Open Source - how to start getting involved in it and how to not be scared and apprehensive about your own ability to start contributing to other people’s work.</p>
<p>We all use open source software every single day but I bet such a small percentage of people who use it actually contribute and get involved in building it.</p>
<p>I was pretty scared myself at first and didn’t think I was good enough to submit code to the bigger, well-known projects but I’m here to tell you to not be apprehensive about these things and to show the benefits of getting involved.</p>

<h3>What is it?</h3>
<p>So what is open source?</p>
<figure>
  <img src="{{assetsUrl}}/{{images}}/placeholder.png" data-src="{{assetsUrl}}/{{images}}/talks/mcrtechnights9/3.png" alt="A slide with an enormous amount of writing copied from Wikipedia on what open source is." />
</figure>
<p>Well I’ve only got <strong>5 minutes</strong> so I am <em>not</em> going to read through all this - I guess you kind of know what it is, it can cover a lot.</p>
<p>I’ll tell you a few things that it <em>isn’t</em> though.</p>

<figure>
  <img src="{{assetsUrl}}/{{images}}/placeholder.png" data-src="{{assetsUrl}}/{{images}}/talks/mcrtechnights9/4.png" alt="" />
</figure>
<p>It’s not:
  <ul>
    <li>The best Node package <strong>ever</strong></li>
    <li>The <strong>jazziest</strong> new feature in WordPress</li>
    <li>The next Bootstrap or jQuery</li>
  </ul>
</p>

<p>What it really can be is things like tests and documentation - as you see when I searched there was over 110,000 issues on GitHub with tests needed and 100 pages of projects with docs needed.</p>
<figure>
  <img src="{{assetsUrl}}/{{images}}/placeholder.png" data-src="{{assetsUrl}}/{{images}}/talks/mcrtechnights9/5.png" alt="" />
</figure>
<p>Contributing can be anything like this - even <em>raising issues</em> is contributing.</p>
<p>Little things like fixing spelling mistakes can be greatly appreciated:</p>
<figure>
  <img src="{{assetsUrl}}/{{images}}/placeholder.png" data-src="{{assetsUrl}}/{{images}}/talks/mcrtechnights9/7.png" alt="" />
  <figcaption>I like correcting spelling mistakes&hellip;it’s a bit of a hobby/obsession.</figcaption>
</figure>

<h3>Don’t be scared</h3>
<p>So a small change in a big project can help. Do not be scared of making a small change and submitting a pull request for it, because it’s likely that it <strong>will</strong> help someone.</p>
<p>Don’t be scared of being knocked down, it’s happened to me before when I prepared a pull request to quite a bit project, thought I’d done this awesome feature and it just got closed by someone without a reason why.</p>
<p>I got put down, I felt like I didn’t want to code for a while and I wasn’t good enough to contribute but do not let it get to you - the response you get is generally much more positive.</p>
<figure>
  <img src="{{assetsUrl}}/{{images}}/placeholder.png" data-src="{{assetsUrl}}/{{images}}/talks/mcrtechnights9/9.png" alt="" />
</figure>

<h3>Why bother?</h3>
<p>So why should you bother then?</p>
<p>You feel really great when you help someone out, when someone compliments your work or when you see your own code out in the wild. I saw someone working on an open source project and saw a few lines of my code and I was all “Hey&hellip;I did that! {{emoji 'sunglasses'}}”</p>
<p>It is a massive sense of accomplishment.</p>
<p>You can kind of have your pick of projects, you can do something in a totally new language or an entirely different domain and use open source as a platform to learn something new and as there's generally no time restrictions or deadlines, you can do so at your own leisure.</p>
<p>Ultimately it <em>can</em> get you noticed and raise your own profile within the tech community. Here’s a little story about getting noticed&hellip;</p>
<figure>
  <img src="{{assetsUrl}}/{{images}}/placeholder.png" data-src="{{assetsUrl}}/{{images}}/talks/mcrtechnights9/11.png" alt="" />
</figure>
<p>So I kind of got my current job through open source.</p>
<p>I used this Grunt plugin that the guys at Building Blocks had written, loved it, tried to contribute to it. I then researched the company, found they had a job going, applied and got the job!</p>
<p>I still have that job now. I still work on that plugin&hellip;that damn plugin&hellip;</p>

<h3>Open source your own work</h3>
<p>Open sourcing your own work is a great way to get out there.</p>
<p>This is a plugin me and the guys have written just because we needed it, but open sourcing it on GitHub has led to others contributing and helping us out. Only this morning this guy raised some issues and gave me advice on how to go forward with the package, which is great!</p>
<figure>
  <img src="{{assetsUrl}}/{{images}}/placeholder.png" data-src="{{assetsUrl}}/{{images}}/talks/mcrtechnights9/12.png" alt="" />
</figure>
<p>So help is always out there when you open source your own projects.</p>
<p>My entire website’s source is online at GitHub and I’ve had a few people email me saying “Thanks, I’ve learnt from it” - so having it there has helped people and made me feel good about it.</p>

<figure>
  <img src="{{assetsUrl}}/{{images}}/placeholder.png" data-src="{{assetsUrl}}/{{images}}/talks/mcrtechnights9/13.png" alt="" />
</figure>
<p>Open sourcing plugins and packages that we need to use with work has proved really popular - these Grunt and Gulp plugins we wrote are now in the top 6% on the NPM registry! I made one of these purely for my own website but other people like it.</p>
<p>This one here, a little package called <em>Dammit</em>, is just a stupid little command line app that swears at you. I spent about an hour on my lunch break making it but for some reason it’s now in the <strong>top 5%</strong> on NPM! <small>That just goes to show that the internet can be a strange place&hellip;</small></p>
<p>So, if you find it useful <small>(or not)</small>, others probably will too.</p>

<h2>A downside</h2>
<p>Now there can be downsides to this. I’m not gonna lie, there might be the time when some <em>“teen cyber hackers”</em> fork your entire website in orer to <em>“Make the world a safer place”</em>. I’ve no idea how they intend to do that, but I’m keeping my eye on them. I hope they don’t attack the NSA with my blog or anything&hellip;that’d be awkward.</p>
<figure>
  <img src="{{assetsUrl}}/{{images}}/placeholder.png" data-src="{{assetsUrl}}/{{images}}/talks/mcrtechnights9/14.png" alt="" />
</figure>
<p>But it can be scary knowing that other people can have an entire copy of your source code, so just be careful and only share what you definitely want to be out in the open, and license properly.</p>

<h2>In essence</h2>
<p>So the gist of it is:
  <ul>
    <li>Get involved</li>
    <li>Be helpful</li>
    <li>Be confident in your own ability to contribute</li>
  </ul>
  and just have some fun with it!
</p>

<p>I’ll leave you with a quote from a well-known open source website:</p>
<blockquote class="pullquote">
  Contributing to other people’s work and being appreciated far outweighs any negative thoughts and apprehension you may have.
</blockquote>
<p>That was actually me(!) - I got interviewed for OpenSource.com because I’d gotten involved in open source projects and raised my own profile, so it goes to show that it can be done and is useful.</p>

<figure>
  <img src="{{assetsUrl}}/{{images}}/placeholder.png" data-src="{{assetsUrl}}/{{images}}/talks/mcrtechnights9/17.png" alt="" />
</figure>
<p>Thanks!</p>
{{/content}}

{{#content "post-tldr"}}
<p><a href="http://www.slideshare.net/furzeface/dont-be-scared-of-open-source" rel="external">My slides</a> from <a href="http://manchestertechnights.org/9">Manchester Tech Nights #9</a>. What a great night it was!</p>
<p>Big thanks to the organisers Chris and Michael, and sponsors <a href="http://www.mccannmanchester.com" rel="external">McCann Manchester</a> - everyone had a great time!</p>
{{/content}}

{{/extend}}
