---
pageClass: page-post
title: No mouse mornings.
category: Work
pubDate: 3rd Apr, 2014
bannerImage: 1440x785.gif
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
Today we had a "No Mouse Morning" at work. Well we tried, I think I'm the only one who kept it up anyway!
{{/content}}


{{#content "post-content"}}
<figure>
  <img src="http://daniel.furzeface.com/themes/furzeface_v2/img/placeholder.png" data-src="http://static1.furzeface.com/img/blog/40/no_mouse_morning.jpg" alt=""/>
  <figcaption>Ouch! One way to stop you using your mouse!</figcaption>
</figure>

<p>So for the whole morning I didn't use my mouse{{#note 1}}{{/note}} and whenever I came across a piece of functionality I didn't know the keyboard shortcut for, I spent a minute finding out online or in the software user guides how to do it which has actually taught me a huge amount already!</p>
<small>{{#note_ref 1}}{{/note_ref}}I used it once, to test a css :hover state - I think I'm allowed that one though for obvious reasons.</small>

<blockquote class="pullquote">
  I'm not supposed to recommend doing the above to your own mouse for health and safety reasons.
</blockquote>

<h2>No Mouse Today</h2>
<p>It's a pretty typical morning, so today I've been browsing the internet, emailing and writing using Gmail and Google Apps, writing code in PHPStorm and running tests. All without using the mouse! </p>
<small>I've actually spiked myself just once and it hurt, but of course I'm not supposed to recommend doing the above to your own mouse for health and safety {{emoji 'stuck_out_tongue'}} </small>
<p>As of lunchtime (13:00) I've not used the mouse, I'm even writing this <em>sans mouse</em> on Google Apps before posting it on my blog.</p>

<h2>Discoveries</h2>
<p>Some things I've found out from No Mouse Morning:</p>

<ul>
  <li>It's pretty strange and hard to get used to - I keep reaching for the mouse before stopping myself and I've spiked myself once already!</li>
  <li>Navigating between IDE, browser, explorer is much quicker with keyboard shortcuts</li>
  <li>Navigating PHPStorm is much quicker with keyboard shortcuts</li>
  <li>Running tests in PHPStorm is much quicker with keyboard shortcuts</li>
  <li>Navigating our webapps with a keyboard is a lot easier than I would’ve assumed!</li>
  <li>Hit "?" in Gmail to see a list of shortcuts - but you can't turn the advanced shortcuts on with the keyboard strangely enough, you have to <strong>click</strong> the link {{emoji 'unamused'}}</li>
</ul>

<p>Hopefully if you introduce this in your workplace it'll spark up a conversation and help you guys learn a bit more of how to be power users!</p>

<small>Next up&hellip;No Monitor Afternoons! Just kidding.</small>
{{/content}}


{{#content "post-tldr"}}
<p>Try not to use your mouse for a whole morning. It's very strange.</p>
<p>Some resources I found useful:</p>
<ul>
  <li>{{link '[Chrome shortcuts](https://support.google.com/chrome/answer/157179?hl=en-GB)'}}</li>
  <li>{{link '[Google Drive/Apps shortcuts](https://support.google.com/drive/answer/2563044?hl=en)'}}</li>
  <li>{{link '[PHPStorm Cheatsheet](http://www.jetbrains.com/phpstorm/documentation/PhpStorm_ReferenceCard.pdf)'}}</li>
  <li>{{link "[PHPStorm shortcuts you can't miss](http://www.jetbrains.com/phpstorm/webhelp/keyboard-shortcuts-you-cannot-miss.html)"}}</li>
</ul>
<p>If you know of any more, shout in the comments!</p>
{{/content}}

{{/extend}}
