---
pageClass: page-post
title: Open sourcing my bucket list with Trello
pubDate: 17th May, 2015
category: Personal
tags:
- personal
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
I needed a way to keep my bucket list available to me so I wouldn’t keep losing track of it, and making it public on Trello seems like a great idea.
{{/content}}


{{#content "post-content"}}
<p>Check out the entire list <a href="https://trello.com/b/wunSYyAp/bucket-list" target="_blank">here</a>!</p>

<h2>A bucket list?</h2>
<p>Just about everybody has a <a href="http://en.wikipedia.org/wiki/The_Bucket_List" rel="external">bucket list</a>. If not a formal one, surely some type of list of things they’d like to achieve, places they want to visit and everything in between.</p>

<p>I’ve written and lost both physical and digital lists countless times and found myself compiling yet another bucket list during some downtime in Kraków over the weekend - after just ticking off <a href="https://trello.com/c/I9KC2G1n" rel="external">a couple</a> <a href="https://trello.com/c/tp4lwCe2" rel="external">of items</a>!</p>

<h2>Enter Trello</h2>
<p>When thinking of how to host said list somewhere I could always access it it occurred to me that <a href="" rel="external">Trello</a> would be perfect as I could also now tick off accomplishments as I go...And who doesn’t love a good checklist to complete and “Done” column to fill?! It constantly amazes me <a href="http://blog.trello.com/how-do-you-use-trello-contest-winners" rel="external">the uses</a> <a href="http://blog.trello.com/meal-planning-with-trello-part-2" rel="external"> that I’ve seen</a> for Trello since I discovered it a year or two ago.</p>

<figure>
  <img src="{{assetsUrl}}/{{images}}/placeholder.png" data-src="{{assetsUrl}}/{{images}}/blog/bucket_list_travel.png" alt="A screenshot of my bucket list Trello board, showing the 'Travel' card with a list of places to travel." />
  <figcaption>My ‘Travel’ card with a list of a few places I want to visit.</figcaption>
</figure>

<p>Part way through cramming <a href="https://trello.com/b/wunSYyAp" rel="external">my board</a> with absolutely <strong>EVERYTHING</strong> I could think of I came to the decision make it public as well. Giving potentially anybody in the world access could be a great way to get ideas and inspiration.</p>

<h2>Open ambition</h2>
<p>So I have in effect open sourced my ambitions, my achievements and ideas for what I want in the future. I’ve opened up commenting and voting on the board and I’m hoping that I can send this out to friends, family and colleagues and get their feedback and contributions towards my ideas. 
</p>
<p>Maybe it’ll even get me some accompaniment or help with a few items on the list&hellip;I’m thinking a buddy for the Three Peaks, or a handy opportunity to speak at an event {{emoji 'wink'}}.</p>
{{/content}}


{{#content "post-tldr"}}
<p>I wrote a big list of the things I want to achieve and <a href="https://trello.com/b/wunSYyAp" rel="external">made it public</a> for the world to see.</p>
<p>As with anything public and open source, it’s there to be commented on, voted on, criticised and contributed to!</p>
{{/content}}

{{/extend}}
