---
component: banner
---

<header class="banner banner--post">
  {{!-- <div class="banner__image-wrap">
    {{#if bannerImage}}
    <img src="{{assetsUrl}}/{{images}}/{{bannerImage}}" alt="{{title}}" class="banner__image" />
    {{/if}}
  </div> --}}

  <div class="banner__meta">
    <h1 class="banner__title"><a href="#TLDR" title="TL;DR? - Skip to the end." class="tldr">{{title}}</a></h1>

    <p class="eta">
      Posted on <time datetime="{{pubDate}}" pubdate="{{pubDate}}" class="updated published">{{pubDate}}</time> in <em>{{category}}</em>
      by <span class="vcard author"><span class="fn n">{{#if postAuthor}}{{postAuthor}}{{else}}{{package.author.name}}{{/if}}</span></span>.
    </p>
    {{!-- @todo: proper pubdate --}}
    {{!-- @todo: category link? --}}
  </div>
</header>
