<div class="post__share">
  <h2 class="post__share__heading">Share this post:</h2>

  <a href="https://twitter.com/intent/tweet?text={{#if shareTitle}}{{shareTitle}}{{else}}{{title}}{{/if}}&url=http://furzeface.com/blog/{{slugify title}}&via=Furzeface"
   class="btn btn--twitter" target="_blank">Twitter</a>

   <a href="https://plus.google.com/share?url=http://furzeface.com/blog/{{slugify title}}" class="btn btn--googleplus" target="_blank">Google+</a>

   <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://furzeface.com/blog/{{slugify title}}&title={{title}}&summary={{summary}}&source=http://furzeface.com/blog" class="btn btn--linkedin" target="_blank">LinkedIn</a>

   {{!-- <a href="https://www.facebook.com/sharer/sharer.php?u=http://furzeface.com/blog/{{slugify title}}" class="btn btn--facebook" target="_blank">Facebook</a> --}}
 </div>
