---
component: share
---

<div class="post__share">
  <h4>Share this post:</h4>

  <a href="https://twitter.com/intent/tweet?text=Check out {{title}} on Daniel Furze's Blog :: &url=http://daniel.furzeface.com/blog/{{slugify title}}&via=Furzeface"
   class="btn btn--twitter" target="_blank">Twitter</a>

   <a href="https://plus.google.com/share?url=http://daniel.furzeface.com/blog/{{slugify title}}" class="btn btn--googleplus" target="_blank">Google+</a>

   <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://daniel.furzeface.com/blog/{{slugify title}}&title={{title}}&summary={{summary}}&source=http://daniel.furzeface.com/blog" class="btn btn--linkedin" target="_blank">LinkedIn</a>

   <a href="https://www.facebook.com/sharer/sharer.php?u=http://daniel.furzeface.com/blog/{{slugify title}}" class="btn btn--facebook" target="_blank">Facebook</a>
 </div>
