---
title: About
pageClass: page-about
---

{{#extend "layout-page"}}

{{#content "page-content"}}

<figure class="avatar">
  <img src="{{assetsUrl}}/{{images}}/avatar--stonehenge.png" alt="A photograph of Daniel Furze, at Stonehenge." />
</figure>

<header itemscope itemtype="http://schema.org/Person">
  <h1 class="page-about__name" itemprop="name">Daniel Furze</h1>
  <h2 class="heading--epsilon page-about__job">Manchester, UK based front end developer.</h2>
</header>

<p>If you’ve got this far then you already know that I’m a <em>“front end web developer, building modern, responsive websites and web application user interfaces”</em>.</p>
<p>But what does that mean? Well it means that in addition to being quite adept at getting the latest buzzwords into sentences, I also design and build the occasional website.</p>
<p>During the day I work at <a href="http://building-blocks.com" rel="external">Building Blocks</a> in the heart of Manchester as part of the <a href="http://www.frontendfriends.club/" rel="external">front end team</a> helping to build websites and webapps for global clients.</p>
<p>After hours I enjoy contributing to open source projects as well as authoring a lot of my own code, which you can find on <a href="http://github.com/furzeface">GitHub</a>.</p>

<figure class="avatar">
  <img src="{{assetsUrl}}/{{images}}/avatar--tm.png" alt="A photograph of Daniel Furze, taking part in Tough Mudder." />
</figure>

<p>When I’ve finished being a nerd for the week you may find me taking part in extreme physical challenges such as <a href="http://toughmudder.com" rel="external">Tough Mudder</a> <small>(above)</small>, or you could catch me trying out new cocktails in one of the many hipster bars in Manchester’s Northern Quarter, perhaps even shaking some of my own.</p>

<h2>About this site</h2>
<h3>Toolkit &amp; colophon</h3>
<p>This site is hand coded in <a href="http://www.sublimetext.com/2" rel="external">Sublime Text 2</a>, developed using <a href="http://github.com" rel="external">GitHub</a>, <a href="http://bower.io" rel="external">Bower</a>, <a href="http://gruntjs.com" rel="external">Grunt</a>, <a href="http://assemble.io" rel="external">Assemble</a>, <a href="https://github.com/furzeface/sassface" rel="external">SassFace</a> and <a href="http://typekit.com" rel="external">Typekit</a>.</p>

<p>It is built and deployed with <a href="http://travis-ci.org" rel="external">Travis CI</a> and hosted with <a href="http://" rel="external">Amazon Web Services</a>.</p>

<p>For more info on the typefaces used see my <a href="https://typekit.com/colophons/ejo4unf" rel="external">Typekit colophon page</a>.</p>

<h3>All of the badges&hellip;</h3>
<p>The source code for this site is completely minified, uglified and everything for deployment <small>(bits make bytes)</small> but the entire codebase is hosted on <a href="{{package.repository.url}}" rel="external">GitHub</a> for anyone to have a poke around and play - so feel free to have a look, even <a href="{{package.repository.url}}/issues" rel="external">open issues</a> or submit <a href="{{package.repository.url}}/pulls" rel="external">pull requests</a> if you spot a problem!</p>

<p>
  <a href="https://travis-ci.org/furzeface/daniel.furzeface.com"><img src="https://travis-ci.org/furzeface/daniel.furzeface.com.svg?branch=master" alt="Travis build status badge" /></a>
  <a href="https://david-dm.org/furzeface/daniel.furzeface.com#info=devDependencies" title="devDependency status"><img src="https://david-dm.org/furzeface/daniel.furzeface.com/dev-status.svg"/></a>
  <a href="https://badge.waffle.io/furzeface/daniel.furzeface.com"><img src="https://badge.waffle.io/furzeface/daniel.furzeface.com.svg" alt="Waffle board badge" /></a>
  <a href="http://gruntjs.com"><img src="https://cdn.gruntjs.com/builtwith.png" alt="Built with Grunt badge"></a>
  <a href="http://shields.io"><img src="http://img.shields.io/badge/100%-awesome!-FF69B4.svg" alt="Awesome level badge" /></a>
</p>

{{/content}}

{{/extend}}
