---
title: Blog
pageClass: page-blog
---

{{#extend "layout-page"}}

{{#content "page-header"}}

<header class="banner banner--blog banner--small">
  <div class="banner__overlay">
    <h1>Blog</h1>
  </div>
</header>

{{/content}}

{{#content "page-content"}}

<ul class="articles-list">
  {{#each posts}}
  <li class="articles-list__item">
    <h1>
      <a href="{{slug}}" class="articles-list__link" {{#if external}}rel="external"{{/if}}>{{title}}</a>
    </h1>
    <p>{{summary}}</p>
    <time datetime="{{pubDate}}" pubdate="{{pubDate}}" class="updated published">{{pubDate}}</time>
  </li>
  {{/each}}
</ul>
{{/content}}

{{/extend}}
