---
title: Blog
pageClass: page-blog
---

{{#extend "layout-page"}}

{{#content "page-content"}}

<ul class="articles-list">
  {{#each posts}}
  <li class="articles-list__item">
    <a href="{{slug}}" class="articles-list__link" {{#if external}}rel="external"{{/if}}>
      <h1>{{title}}</h1>
      <p>{{summary}}</p>
      <time datetime="{{pubDate}}" pubdate="{{pubDate}}" class="updated published">{{pubDate}}</time>
    </a>
  </li>
  {{/each}}
</ul>
{{/content}}

{{/extend}}
